# Runtime Data
data/
*.pid
*.log
pgdata/
pg_wal/
mnesia/

# Environment
.env
.env.local

# Node
node_modules/
.next/

# Logs
*.log
backup_temp_files/*.tar.gz
backup_temp_files/
*.log
*.save
node_modules/
